.input-block {
    position: relative;
}

.input-block + .input-block {
    margin-top: 1.4rem;
}

.input-block label {
    font-size: 1.4rem;
    color: #E6E6F0;
}

.input-block input {
    width: calc(100% - 32px);
    height: 36px;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: #F8F8FC;
    border: 1px solid #E6E6F0;
    outline: 0;
    padding: 8px 16px;
    font-size: 1.4rem;
    color: #6A6180;
}

.input-block-margin-none input{
    margin: 0;
    border-radius: 0;
}

.input-block-margin-none{
    margin-top: 0!important;
}

