.Select {
    position: relative;
}

.Select + .Select {
    margin-top: 1.4rem;
}

.Select label {
    font-size: 1.4rem;
}

.Select select {
    width: 100%;
    height: 54px;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: #F8F8FC;
    border: 1px solid #E6E6F0;
    outline: 0;
    padding: 9px;
    color: #6A6180;
    font-size: 1.4rem;
}

.Select:focus-within::after {
    width: calc(100% - 3.2rem);
    height: 2px;
    content: "";
    background: var(--color-primary-light);
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 0;
}
